
# Caches
*__pycache__
*.vscode/
*.pytest_cache

# Keys, data, and logs
backend/keys/
*.db
*.log

# Virtual environments
*.venv
*venv
*.conda

# Test notebooks
backend/db_testing.ipynb

# Test temp dirs
backend/tests/listener-sender-testing/.tmp/

# Installer files
installer/*.o
installer/*installer.exe
installer/installer
installer/PeerVault-installer*

# Application files
application/*.o
application/*.exe
application/PeerVault

# Config files
backend/config/